.repoDetailContainer {
  background-color: #dcdcdc;
  padding: 5px;
  margin: 10px 0;
  border-radius: 15px;

  .repoInfo {
    margin: 10px;
    padding: 10px;
    border: 1px solid #bbb;
    border-radius: 15px;
    display: flex;
    @media screen and (max-width: 768px) {
      margin: 0;
      padding: 0;
    }

    .avatarContainer img {
      width:200px;
      height:200px;
      @media screen and (max-width: 768px) {
        width:150px;
        height:150px;
      }
      @media screen and (max-width: 576px) {
        width:100px;
        height:100px;
      }
    }

    .avatarContainer {
      padding: 10px;
    }
  
    .repoInfoContainer {
      padding: 10px;
      margin-left: 100px;
      @media screen and (max-width: 1200px) {
        margin-left: 0;
      }
      .repoDesc {
        text-align: left;
      }
    }
  }
}
